<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h3><u>Submitted Information</u></h3>
		<h4>Name: <%= user.name %> </h4>
		<h4>Dojo Location: <%= user.location %></h4>
		<h4>Favorite Language: <%= user.language %></h4>
		<h4>Comment: <%= user.comment %></h4>
		<hr>

    	<button><a href="/">Go Back</a></button>
	</div>
</body>
</html>