<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .container{
        margin: 50px;
        width: 250px;
        height:280px;
        border: 3px solid black;
        padding: 10px;
    }
    h3, h4{
        color: blueviolet;
    }
    </style>
</head>
<body>
    <div class="container">
    <form action="/process" method="POST">
        <h3>Register</h3>
        <h4>First Name: <input type="text" ></h4>
        <h4>Last Name: <input type="text" ></h4>
        <h4>Email: <input type="text" ></h4>
        <h4>Password: <input type="text" ></h4>
        <h4>Birthday: <input type="text"></h4>
        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>