<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
        <a href="/">Displays all the objects</a><br>
        <a disabled href="/obj/:id">Displays all the information about one Object</a><br>
        <a href="/obj/new"> Page with form to make new Object </a><br>
        <a href="/obj/edit/:id"> Edit show a form to edit an existing mongoose</a><br>


    <h2> This is the create form page</h2>

    <form action="/obj" method="post">

        <input type="text" name="name" id="" placeholder=" Your name"><br>
        <input type="text" name="description" id=""placeholder=" Description" ><br>

        <button type="submit">Submit</button>
    </form>



</body>
</html>